# compiled python
*.pyc

# example analysis to help script writing
example_analysis.ipynb

# python file for doing data exploration
playground.py

# don't include the jupyter notebook checkpoints
output/complete-runs/.ipynb_checkpoints/
