# compiled python
*.pyc

# example analysis to help script writing
example_analysis.ipynb

# python file for doing data exploration
playground.py
playground-output/

# don't include the jupyter notebook checkpoints
output/complete-runs/.ipynb_checkpoints/
output/features-da/.ipynb_checkpoints/

# vscode configuration
.vscode
