# compiled python
*.pyc

# ini files
*.ini

# example analysis to help script writing
example_analysis.ipynb

# python file for doing data exploration
playground.py
playground-output/

# don't include the jupyter notebook checkpoints
.ipynb_checkpoints/

# vscode configuration
.vscode

# files too large to track with git
output/complete-runs/analysis/cluster-data/md-rule-learning
output/complete-runs/analysis/cluster-data/no-md-rule-learning

# temp directory for things
temp

# old scripts and files for parallelization
full-dataset/old-work

# segment files that have been combined
full-output/segments/

# for playing around/data exploration
output/complete-runs/analysis/playground.ipynb
full-output/playground.ipynb
full-output/playground2.ipynb

# graphs generated for each column for each cluster (too many to track)
output/complete-runs/analysis/cluster-data/md_graphs/
output/complete-runs/analysis/cluster-data/no_md_graphs/
